/*<style>*/
@font-face {
    font-family: MyCustomFont;
    src: url('/assets/ttfs/JalnanGothicTTF.ttf');
}
/* Define font class */
.custom-font {
    font-family: MyCustomFont, sans-serif;
    font-size: 25px;
}

.background-container {
    background-image: url('/assets/images/background.jpg'); /* 배경 이미지 경로 */
    /*background-size: cover; !* 배경 이미지 크기 조정 *!*/
    /*background-position: center; !* 배경 이미지 위치 *!*/
    /*background-repeat: no-repeat; !* 배경 이미지 반복 방지 *!*/
    /*padding: 20px; !* 여백 추가 *!*/
    /*color: white; !* 텍스트 색상 *!*/
}

.divBackground-container{
    background-color: rgba(255, 255, 255, 0.9); /* 투명한 흰색 배경 (50% 투명도) */
    padding: 20px; /* 여백 추가 */
    border-radius: 40px; /* 모서리를 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}
.completed {
    color: gray;
    text-decoration: line-through;
}
.custom-checkbox {
    width: 20px; /* 체크박스의 너비 조정 */
    height: 20px; /* 체크박스의 높이 조정 */
}
.divBackground-container p {
     text-align: center; /* 부모 요소인 p 요소의 텍스트를 가운데 정렬합니다 */
 }

.divBackground-container ul {
    list-style-type: none; /* 목록 스타일 제거 */
}

.progress {
    width: 100%;
    height: 10px;
    /*background-color: #f5f5f5;*/
    background-color: rgba(169, 169, 169, 0.5); /* 연한 회색으로 설정합니다. */
    border-radius: 5px; /* 모서리를 둥글게 만듭니다. 높이의 절반 값으로 지정하면 더 둥글게 됩니다. */

}

.progress-bar {
    height: 100%;
    background-color: #007bff;
    width: 50%; /* 초기값은 50%로 설정 */
    border-radius: 5px; /* 모서리를 둥글게 만듭니다. 높이의 절반 값으로 지정하면 더 둥글게 됩니다. */

}
.floating-element {
    position: fixed;
    bottom: 30px;
    right: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0); /* 배경색을 흰색 반투명으로 설정합니다. */

    /*color: white;*/
    /*padding: 10px;*/
}

#form1 {
    bottom: 120px; /* 다른 요소와 겹치지 않도록 조절합니다. */
}
#form2 {
    bottom: 210px; /* 다른 요소와 겹치지 않도록 조절합니다. */
}
#form3 {
    bottom: 300px; /* 다른 요소와 겹치지 않도록 조절합니다. */
}

.custom-button {
    background-color: transparent; /* 버튼의 배경색을 투명하게 설정합니다. */
    border: none; /* 버튼의 테두리를 제거합니다. */
    padding: 0; /* 버튼의 여백을 제거합니다. */
}
