<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캘린더</title>
    <link rel="stylesheet" href="/assets/stylesheets/Calender.css">
</head>
<body class="background-container">
<div class = "outer-cont">
    <img src="/assets/images/nav_calender.png" alt="캘린더" style="width :80px; height: 80px;">

    <p class="custom-font"  style ="font-size : 50px;">
        캘린더
    </p>
</div>
<div class = "outer-cont">
    <img src="/assets/images/Transparency.png" alt="공백 이미지용" style="width :10px; height: 10px;">
</div>
<div class = "outer-cont">
    <div class ="white-container">
<div class="calendar">
    <header>
        <button id="prevMonth">&lt;</button>
        <div class="month-year" id="monthYear"></div>
        <button id="nextMonth">&gt;</button>
    </header>
    <table>
        <thead>
        <tr>
            <th>일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
        </tr>
        </thead>
        <tbody id="calendarBody">
        <!-- Dates will be inserted here -->
        </tbody>
    </table>
</div>
</div>
</div>
<div class = "outer-cont">
    <div class ="white-container">
        <p>
            가나다
        </p>
    </div>
</div>
<script src="/assets/javascripts/Calender.js"></script>
</body>
</html>
