<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>랭킹</title>
    <link rel="stylesheet" href="/assets/stylesheets/Award.css">
</head>
<body class="background-container">
<div class = "outer-cont">
    <img src="/assets/images/nav_calender.png" alt="캘린더" style="width :80px; height: 80px;">

    <p class="custom-font"  style ="font-size : 50px;">
        캘린더
    </p>
</div>


<div class = "outer-cont">
    <div class ="white-container">
        <p>
            검색창
        </p>
    </div>
</div>


<div class = "outer-cont">
    <img src="/assets/images/Transparency.png" alt="공백 이미지용" style="width :20px; height: 20px;">
</div>

<div class = "outer-cont">
    <div class ="white-container">
        <p>
            가나다
        </p>
    </div>
</div>
<script src="/assets/javascripts/Award.js"></script>
</body>
</html>
