<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" href="/assets/stylesheets/SignUp.css">
</head>
<body>

<div class="vertical-container">
    <div style="text-align: center;">
        <img src="/assets/images/Transparency.png" alt="투명 이미지" style="max-width: 10%; height: auto;">
    </div>
    <div style="text-align: center;">
        <img src="/assets/images/PuangFace.png" alt="푸앙 얼굴 이미지" style="max-width: 70%; height: auto;">
    </div>
    <div class="outer-container">
        <p style="font-size: 20px;">EcoPuangPuang 서비스에</p>
    </div>
    <div class="outer-container">
        <p style="font-size: 20px;">오신 것을 환영합니다!</p>
    </div>
    <div class="outer-container">
        <div class="login-container">
            <form action="/SignUp" method="POST" th:object="${registerDTO}">
                <div class="form-group">
                    <label for="name">이름</label>
                    <div class="outer-container">
                        <input type="text" th:field="*{name}" id="name" placeholder="이름" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <div class="outer-container">
                        <input type="email" th:field="*{email}" id="email" placeholder="이메일" required>
                    </div>
                </div>
                <div class="outer-container">
                    <button type="button" id="emailVerificationButton" onclick="sendEmailVerification()">이메일 보내기</button>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <div class="outer-container">
                        <input type="password" th:field="*{password}" id="password" placeholder="비밀번호" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm_password">비밀번호 확인</label>
                    <div class="outer-container">
                        <input type="password" name="confirmPassword" id="confirm_password" placeholder="비밀번호 확인" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="outer-container">
                        <input type="submit" value="가입하기">
                    </div>
                </div>
                <div th:if="${error}" class="error-message" th:text="${error}"></div>
            </form>
        </div>
    </div>

    <form action="/LoginPage" method="get">
        <div id="back-button-container">
            <button id="back-button" class = "custom-button" name="appType" value="back-button">
                <img src="/assets/images/nav_back.png" alt="메뉴" style="width :80px; height: 80px">
            </button>
        </div>
    </form>

</div>
<script src="/assets/javascripts/SignUp.js"></script>

</body>
</html>
