<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" href="/assets/stylesheets/SignUp.css">
</head>
<body>

<div class ="vertical-container">
    <div style="text-align: center;">
        <img src="/assets/images/Transparency.png" alt="투명 이미지" style="max-width: 10%; height: auto;">
    </div>
    <div style="text-align: center;">
        <img src="/assets/images/PuangFace.png" alt="푸앙 얼굴 이미지" style="max-width: 70%; height: auto;">
    </div>
    <div class="outer-container">
        <p style="font-size : 20px;">EcoPuangPuang 서비스에</p>
    </div>
    <div class="outer-container">
        <p style="font-size : 20px;"> 오신 것을 환영합니다!</p>
    </div>
    <div class="outer-container">
        <div class="login-container">
            <form action="/SignUp" method="POST" >
                <div class="form-group">
                    <label for="name"></label>
                    <div class="outer-container">
                    <input type="text" name="name" id="name" placeholder="이름" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email"></label>
                    <div class="outer-container">
                    <input type="email" name="email" id="email" placeholder="이메일" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <div class="outer-container">
                    <input type="password" name="password" id="password" placeholder="비밀번호" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for ="confirm_password"> </label>
                    <div class="outer-container">
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="비밀번호 확인" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="outer-container">
                        <input type="submit" value="가입하기">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
