<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" href="/assets/stylesheets/SignUp.css">
</head>
<body>
<div class="signup-container">
    <h2>회원가입</h2>
    <form action="/SignUp" method="POST" >
        <input type="text" name="name" placeholder="이름" required>
        <input type="email" name="email" placeholder="이메일" required>
        <input type="password" name="password" placeholder="비밀번호" required>
        <input type="password" name="confirm_password" placeholder="비밀번호 확인" required>
        <input type="submit" value="가입하기">
    </form>
</div>
</body>
</html>
